body{
    background-color: rgb(240, 240, 240);
}
#circle-box{
    justify-content: center;
    display: flex;
    margin-top: 120px;
}
.circles{
    height:auto;
    width: 40px;
    border: rgb(207, 207, 207) solid 4px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    padding: 4px 0;
    font-size: 28px;
    color: rgb(105, 105, 105);
}
.roads{
    width: 60px;
    height: 5px;
    margin-top: 21px;
    background-color: rgb(207, 207, 207);
}
#first-circle{
    border: rgb(29, 145, 199) solid 4px;
}

#button-box{
    justify-content: center;
    display: flex;
    margin-top: 50px;
}
.buttons{
    border: none;
    background-color: rgb(207, 207, 207);
    color: white;
    margin: 0px 10px;
    padding: 10px 40px;
    font-size: 15px;
    border-radius: 5px;
    
}
.buttons:active{
    animation-name: button-click;
    animation-duration: 0.2s;
}

#next{
    background-color: rgb(29, 145, 199);
}
@keyframes button-click {
    0% {padding: 10px 40px;}
    20% {padding: 0px 38px;}
    100%{padding: 10px 40px;}
}






